In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import time
from datetime import datetime

In [2]:
df = pd.read_csv('preprocessed_sales.csv')
df

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
400911,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
400912,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
400913,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
400914,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
400915,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [3]:


df = df.drop(df[df.Country =='United Kingdom'].index)
df['ProductPrice'] = df['Quantity'] * df['UnitPrice']
customer_count = df.groupby('Country')['CustomerId'].nunique()
sales_sum = df.groupby('Country')['ProductPrice'].sum()
dff = pd.DataFrame()
dff['CC'] = customer_count
dff['SA'] = sales_sum
dff['qCC'] = dff['CC'].quantile(0.75)
dff['qSA'] = dff['SA'].quantile(0.75)

red_groups = dff[(dff['CC'] > qCC) & (dff['SA'] > qSA)]
blue_groups = dff[(dff['CC'] > qCC) & (dff['SA'] < qSA)]
green_groups = dff[(dff['CC'] < qCC) & (dff['SA'] > qSA)]
cyan_groups = dff[(dff['CC'] < qCC) & (dff['SA'] < qSA)]

plt.style.use('fivethirtyeight')
fig, ax = plt.subplots(figsize=(10, 10))
ax.scatter(red_groups['SA'], red_groups['CC'], color='red', label='Highest customer & revenue',marker = 'o',s = 20)
ax.scatter(blue_groups['SA'], blue_groups['CC'], color='blue', label='High customer & low revenue',marker = 'o',s = 20)
ax.scatter(green_groups['SA'], green_groups['CC'], color='green', label='High revenue & low customer',marker = 'o',s = 20)
ax.scatter(cyan_groups['SA'], cyan_groups['CC'], color='cyan', label='Low customer & revenue',marker = 'o',s = 20)



for country in countries_to_label:
    if country in dff.index: 
        ax.text(dff['SA'][dff.index[dff.index == country][0]], dff['CC'][dff.index[dff.index == country][0]] + 0.5, country, fontsize=15)



ax.set_title('Market Study', fontsize=18)
ax.set_xlabel('Sales amount', fontsize=16)
ax.set_ylabel('Number of customers', fontsize=16)
ax.legend(title="Group",frameon=True,title_fontsize=16,facecolor='silver',fontsize=14)
plt.grid(True)
plt.show()

NameError: name 'qCC' is not defined